/* Code Samples */

pre {
  overflow-x: scroll;
}

code {
  border-radius: 3px;
}

.s-card {
  pre {
    border: 1px solid var(--s-color-gray-700);
    background-color: var(--s-color-gray-700);
    color: var(--s-color-white);
    border-radius: 2px;
  } 
}

.highlighter-rouge {
  max-width: 100%;
  border-radius: 3px;
  pre {
    white-space: pre-wrap;
  }
}

.smallcode {
  background-color: #bbbbbb;
}
